@import '../../../../styles/variables';

.btnLink {
    border-radius: 10px !important;
    padding: $spacing !important;
    font-family: $font-title !important;
    font-size: 1.2em !important;
    min-width: 200px !important;
}

.btnLink-contained-black {
    background-color: black !important;
    color: $primary !important;
}

.btnLink-contained-primary {
    background-color: $primary !important;
    color: black !important;
}

.btnLink-outlined-primary {
    background-color: $primary !important;
    color: white !important;
    border: 2px solid black !important;
}

.btnLink-outlined-white {
    background-color: white !important;
    color: black !important;
    border: 2px solid $primary !important;
}
