@import '../../../styles/variables';

$WWD_margin: 7%;

.whatwedo {
    max-width: 100vw;
    .row {
        --bs-gutter-x: none !important;
    }
    .whatwedo_title {
        margin-left: $WWD_margin;
        margin-bottom: $WWD_margin/2;
        span {
            color:  var(--primaryColor);
        }
    }

}
