.first-outer-container {
    margin-left: 5%;
    /* Mobile portrait */
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        margin: 0;
        padding: 40px;
    }
}
