<div class="row justify-content-center align-items-center mb-5">
    <div class="col-10 col-md-6 text-center">
        <h3>La landing page</h3>
        <p>Idéal pour les auto-entrepreneurs ou les petites PME qui souhaite avoir une présence sur le web pour pas cher !</p>
        <ul>
            <li>La solution la moin cher</li>
            <li>Une seul page à gérer</li>
            <li>Formulaire de contact inclus</li>
            <li>Choix parmis une multitude de template</li>
            <li>Mis en ligne rapide</li>
        </ul>
    </div>
    
    <div class="col-10 col-md-4"><img alt="image" class="img-fluid" src="https://picsum.photos/400/400"/></div>
</div>

<div class="row justify-content-center align-items-center mb-5">
    <div class="col-10 col-md-4"><img alt="image" class="img-fluid" src="https://picsum.photos/400/400"/></div>

    <div class="col-10 col-md-6 text-center">
        <h3>Le site vitrine</h3>
        <p>Il sera parfait pour les entreprises voulant mettre en avant leurs savoir-faire</p>
        <ul>
            <li>4 pages incluses ( Accueil, Qui sommes nous, Nos réalisations, contact )</li>
            <li>Dashboard d'administration inclus</li>
            <li>Possibilité d'ajouter des fonctionnalité sur demande</li>
        </ul>

    </div>
</div>

<div class="row justify-content-center align-items-center mb-5">
    <div class="col-10 col-md-6 text-center">
        <h3>Le site sur mesure</h3>
        <p>Vous avez un besoin spécifique ? Une idée révolutionnaire ? Nous nous occupons de toutes les phases de votre projet.</p>
        <ul>
            <li>Création graphique ( maquette, logo )</li>
            <li>Autant de page que vous le souhaitez</li>
            <li>Développement de fonctionnalitées sur mesure</li>
            <li>Gestion du referencement naturel</li>
        </ul>
    </div>

    <div class="col-10 col-md-4"><img alt="image" class="img-fluid" src="https://picsum.photos/400/400"/></div>
</div>
