@import "../../../../styles/variables";

.carouselProjects {
    position: relative;
    height: 100vh;

    .blocPiloting{
        position: absolute;
        bottom: 25%;
        margin-left: 20%;
        .goutte{
            width: 40px;
        }
    }
}