@import "../../../../styles/variables";

.contact-first-part {
    @media screen and (min-width: 992px) {
        margin-top: -150px;
    }
}

.contact-info {
    list-style: none;
    ul {
        padding: 0 !important;
        .icon-contact{
            color:  var(--primaryColor) !important;
        }
    }
}

.contact-image {
    margin-top: -80px;
    z-index: 900;
    @media screen and (min-width: 768px) {
        margin-top: -185px;
    }
    @media screen and (min-width: 1080px) {
        margin-top: -50px;
    }
}
