@import '../../../../styles/variables.scss';

$third-part-spacing: 40px;
$device-size: 50%;
.thirdPart {
    padding: 75px;
    /* Mobile portrait */
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        padding: $third-part-spacing;
    }
    .img-fluid {
        width: 100%;
        height: 100%;
    }
    p {
        font-size: $font-size-text;
    }
    .inner-container {
        @media (min-device-width: 768px) and (max-device-width: 1080px) {
            flex-direction: column-reverse;
            .device-div{
                margin-top: $third-part-spacing;
            }
        }
        .device-div {
            /* Ipad */
            @media (min-device-width: 768px) and (max-device-width: 1080px) {
                width: 100% !important;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            @media only screen and (min-device-height: 320px) and (max-device-height: 480px) {
                margin-top: $third-part-spacing;
            }
            .cd-mac {
                display: none;
                /* Ipad */
                @media (min-device-width: 768px) and (max-device-width: 1080px) {
                    display: inline;
                    font-size: $device-size !important;
                }
                /* Mobile portrait */
                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                    display: inline;
                    margin-bottom: $third-part-spacing;
                    font-size: 49% !important;
                    .cd-bottom {
                        width: 99vw !important;
                        left: -40px !important;
                    }
                }
                /* Mobile landscape */
                @media only screen and (min-device-height: 320px) and (max-device-height: 480px) {
                    font-size: $device-size !important;
                }
            }
            .cd-iphone-6 {
                /* Ipad */
                @media (min-device-width: 768px) and (max-device-width: 1080px) {
                    font-size: $device-size;
                }
                /* Mobile portrait */
                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                    display: none;
                }
                /* Mobile landscape */
                @media only screen and (min-device-height: 320px) and (max-device-height: 480px) {
                    font-size: $device-size;
                    display: none;
                }
            }
            .cd-ipad {
                /* Ipad */
                @media (min-device-width: 768px) and (max-device-width: 1080px) {
                    display: none;
                }
                /* Mobile portrait */
                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                    font-size: $device-size !important;
                    margin-bottom: $third-part-spacing;
                }
                /* Mobile landscape */
                @media only screen and (min-device-height: 320px) and (max-device-height: 480px) {
                    font-size: $device-size !important;
                }
            }
        }
        .text-div {
            @media (min-device-width: 768px) and (max-device-width: 1080px) {
                width: 100% !important;
            }
        }
    }
}
