@import '../../../../styles/variables.scss';

.second_parts {
    background-color: $secondary;
    padding: 75px;
 /* Mobile portrait */
 @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    padding: 40px;
}
    h2 {
        span {
            color: $light;
        }
    }
    .review {
        .text_review {
            font-size: $font-size-text;
            font-weight: $font-weight-text;
        }
        .author {
            font-size: $font-size-text;
            font-weight: $font-weight-text;
            font-family: $font-title;
            line-height: 5px;
        }
        .author_info{
            font-weight: $font-weight-text;
            line-height: 5px;

        }
    }
    a{
        float: right;
    }
}