@import '../../../../styles/variables.scss';

.second_parts {
    background-color: $secondary;
    padding: 30px;

    h2 {
        font-size: $font-size-title;
        span {
            color: $light;
        }
    }
    .review {
        .text_review {
            font-size: $font-size-text;
            font-weight: $font-weight-text;
        }
        .author {
            font-size: $font-size-text /1.2;
            font-weight: $font-weight-text*3;
        }
        .author_info{
            font-weight: $font-weight-text
        }
    }
    a{
        float: right;
    }
}