 <div class="matomo" id="cookieConsent" style="display:none;">
        <div class="cookieConsent d-flex flex-column">
            <div class="cookieOption" id="cookieOption" style="display:none;">
                <div class="d-flex flex-column">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="matomoSwitch">
                        <label class="form-check-label" for="matomoSwitch">Matomo Analytics ( Données hébergé et traités sur notre serveur )</label>
                    </div>
                    <p id="status">Le suivis est <span>dés</span>activé.</p>
                    <button type="button" class="btn btn-success" id="cookieSaveChoise">Validé</button>
                </div>
            </div>
            <div class="cookieConsent-message">
                <p>
                    Ce site utilise des cookies pour vous offrir la meilleure expérience utilisateur. En continuant à naviguer sur ce site, vous acceptez l’utilisation des cookies.
                </p>
            </div>
            <div class="cookieConsent-buttons">
                <button class="btn btn-success cookieConsent-button--accept" id="cookieConsentButtonAccept">J'accepte</button>
                <button class="btn btn-secondary cookieConsent-button--more" id="cookieConsentButtonMore">En savoir plus</button>
                <button class="btn btn-danger cookieConsent-button--deny" id="cookieConsentButtonDeny">Refuser</button>
            </div>
        </div>
    </div>