@import 'variables';
//@import '~bootstrap/scss/bootstrap';


:root {
    --color-primary: #56c6ff; // set primary variables
}


body {
    max-width: 99vw;

    a {
        color:  $primary;
    }
}
