/*
  Default import
  import here all style files call with app.scss in twig/webpack
*/
@import 'variables';
@import '~bootstrap/scss/bootstrap';

/*
  Reset all spacing
 */
* {
	margin: 0;
	padding: 0;
	scrollbar-width: thin;
}

body {
	width: 100vw;
}

.logo {
	font-family: $font-logo, serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $font-title, sans-serif;
}

p {
	font-family: $font-text, sans-serif;
}


