@import './variables.scss';

body {
    
}
.header {

    .bg-blue {
        padding-top: 80px;
        padding-left: 80px;
        background-color: var(--primaryColor);
    }

}

.wave {
    overflow: hidden;
} 

.container-fluid {
	width: 80%;
    margin-top: -300px;
}

