@import 'variables';

.header {
    position: relative;
		
    .bg-blue {
        background-color: $primary;
    }
    
    .wave {
        $bottom: -140%;
        
        position: absolute;
        bottom: $bottom;
        z-index: -1;
        transform: scale(-1, 1);
        width: 100%;
        
        @media screen and (max-width: 1440px) {
            bottom: $bottom + 50%;
        }
        
        @media screen and (max-width: 768px) {
            bottom: $bottom + 70%;
        }
        
        @media screen and (max-width: 411px) {
            bottom: $bottom + 110%;
        }
        
    }
}


.hr-contact{
border-top: 3px solid $primary;
opacity: 1;
margin-left: 150px;
margin-right: 150px;
}
