@import 'variables';

.header {
    height: 35vh;
    .wave {
        position: absolute;
        transform: scale(-1, 1);
        width: 100%;
        z-index: -1;
        top: -15px;
        left: 0;
    }
    .feedLineBox{
        position: relative;
        top: 90px;
        left: 50px;
        .pageTitle{
            font-size: 25px;
            color: $light;
            .dot{
                font-size: 25px;
                color: $dark;
            }
        }
    }
}
