@import "variables";

.home {
    .first-view{
        height: 100vh;
        background-color: $primary;

        h1 {
            color: white;
        }
    }

    .carousel-projects {
        position: relative;
        height: 100vh;
        .wave{
            position: relative;
            transform: scale(-1 , 1);
            width: 100%;
            z-index: -1;
        }
    }
}