@import 'variables';

.home {
    .first-view {
        height: 100vh;
        background-color: $primary;
        h1 {
            color: white;
        }
    }

    .carousel-projects {
        position: relative;
        .wave {
            position: absolute;
            transform: scale(-1, 1);
            width: 100%;
            z-index: -1;
            top: -15px;
            left: 0;
        }
    }
}
