@font-face {
  font-family: 'AnjaEliane';
  src: url('../fonts/Anja-Eliane.ttf');
}

@font-face {
  font-family: 'LouisGeorgeCafe';
  src: url('../fonts/Louis-George-Cafe.ttf');
}

@font-face {
  font-family: 'SlencoBlack';
  src: url('../fonts/Slenco-Black-demo.otf');
}

$primary: #56C6FF;
$secondary: #A3E0FF;
$dark: black;
$light: white;
$font-title: 'SlencoBlack';
$font-text: 'LouisGeorgeCafe';
$font-logo: 'AnjaEliane';
$spacing: 6px;
$font-size-title: 36px;

/*
  Reset all spacing
 */
* {
  margin: 0;
  padding: 0;
}

.logo {
  font-family: $font-logo, serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-title, sans-serif;
}

p {
  font-family: $font-text, sans-serif;
}

h1 {
  font-size: $font-size-title;
}

h2{
    font-size: $font-size-title;
}