@import "../../../../styles/variables";

.contact-first-part {
    padding-top: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contact-first-part-text {
    display: flex;
    flex-direction: column;
}

.contact-info {
    list-style: none;
    ul {
        padding: 0 !important;
        li {
            display: flex;
            flex-direction: row;
        }
    }
}

