.contact-first-part {
    padding: 0 150px;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.contact-first-part-text {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.contact-info {
    list-style: none;
    margin-top: 20px;
    ul {
        padding: 0 !important;
        li {
            display: flex;
            flex-direction: row;
        }
    }
}

.contact-image img {
    height: 80vh;
    width: 40vw;
    margin-top: -300px;
}
