@import "../../../styles/variables";

.feedline {
	font-family: $font-text;
	font-size: 12px;
	.chevron {
		color: $light;
	}
	
	.last-feed {
		color: $light;
	}
	
	a {
		text-decoration: none;
		color: $dark;
	}
}