@import '../../../styles/variables.scss';

.home-blog {
    margin-bottom: 10vh;
    .parent {
        height: 60vh;
        width: 60vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 5px;
        grid-template-areas:
            'grid1 grid1 grid2 grid2 grid2 grid2'
            'grid1 grid1 grid2 grid2 grid2 grid2'
            'grid1 grid1 grid3 grid3 grid4 grid4'
            'grid1 grid1 grid3 grid3 grid4 grid4'
            'grid1 grid1 grid5 grid5 grid6 grid6'
            'grid1 grid1 grid5 grid5 grid6 grid6';

        .grid1 {
            grid-area: grid1;
        }
        .grid2 {
            grid-area: grid2;
        }
        .grid3 {
            grid-area: grid3;
        }
        .grid4 {
            grid-area: grid4;
        }
        .grid5 {
            grid-area: grid5;
        }
        .grid6 {
            grid-area: grid6;
        }
    }
}
