@import '../../../../styles/variables.scss';

.first-part{
    background-color: $primary;
    height: 100%;
    width: 100%;
    padding: $spacing;
    h2{
        color: $light;
        font-size: $font-size-subtitle;
        font-weight: bold;
    }
    p{
        color: $light;
        font-size: $font-size-text;
        font-weight: bold;
    }
}