@import '../../../../styles/variables.scss';

.first-part{
    background-color:  var(--darkColor);
    height: 100%;
    width: 100%;
    padding: $spacing;
    h2{
        color:  var(--darkColor);
        font-size: $font-size-subtitle;
        font-weight: bold;
    }
    p{
        color:  var(--darkColor);
        font-size: $font-size-text;
        font-weight: bold;
    }
}
