@import "../../../styles/variables.scss";

$margin-left: -10%;
$spacing-logo: 5px;
$logo-size: 35px;
$logo-font-size: 1.5em;

.social {
    display: flex;
    transform: rotate(-90deg);
    max-width: 450px;
    height: 0;
    position: sticky;
    top: 40%;
    z-index: 5;
    margin-left: $margin-left;

    /* Ipad Landscape */
    @media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
        margin-left: $margin-left - 8%;
    }
    /* Ipad portrait */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        margin-left: $margin-left - 15%;
    }

    /* Mobile portrait */
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        display: none;
    }
    /* Mobile landscape */
    @media only screen and (min-device-height: 320px) and (max-device-height: 480px) {
        display: none;
    }
    .text-social {
        padding-top: 7px;
        font-size: $font-size-text;
        font-family: $font-title;
        p{
            color: $dark;
        }
    }
    

    .hr-social {
        width: 15px;
        height: 2px;
        padding: 0;
        color: $dark;
        margin-right: 10px;
        margin-left: 10px;
        opacity: 100%;
    }

    a {
        text-decoration: none;
        height: $logo-size;
        width: $logo-size;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $spacing-logo;
        transform: rotate(90deg);
        font-size: $logo-font-size;
        color: $dark;
    }
}
