@import "../../../styles/variables.scss";

$margin-left: -190px;
$spacing-logo: 5px;
$logo-size: 16px;
$text-size: 14px;
$logo-font-size: 1.5em;

.social {
    display: flex;
    transform: rotate(-90deg);
    max-width: 450px;
    height: 0;
    position: sticky;
    top: 40%;
    z-index: 5;
    margin-left: $margin-left;

    /* Ipad Landscape */
    @media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
       // margin-left: $margin-left - 8%;
    }
    /* Ipad portrait */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
       // margin-left: $margin-left - 15%;
    }

    /* Mobile portrait */
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        display: none;
    }
    /* Mobile landscape */
    @media only screen and (min-device-height: 320px) and (max-device-height: 480px) {
        display: none;
    }
    .text-social {
        font-size: $text-size;
        font-weight: 999;
        text-align: center;
        font-family: $font-title;
        color: $light;
        text-transform: uppercase;
        margin-top: -2px;
    }
    

    .hr-social {
        width: 12px;
        height: 2px;
        color: $light;
        border-color: black;
        opacity: 100%;
        margin-left: 15px;
        margin-top: 7.3px;
        
    }

    a {
        margin-left: 15px;
        color: $light;
        text-decoration: none;
        height: $logo-size;
        width: $logo-size;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(90deg);
        font-size: $logo-size;
        
        i {
           
            font-size: $logo-size;
            color: $light;
            
        }
    }
}
