@import '../../../../styles/variables.scss';

.second-part {
    .row {
        margin-top: $spacing * 8;
        .text-right{
            text-align: center;
        }
        .text-left{
            text-align: center;
        }
        ul{
            list-style:none;
            padding: 0 !important;
            margin: 0 !important;
            li{
                line-height: 200%;
            }
        }
        img{
            width: 100%;
        }
    }
    
}
