@import '../../../styles/variables';

$WWD_margin: 10%;

.whatwedo {
    .row {
        --bs-gutter-x: none !important;
    }
    .whatwedo_title {
        margin-left: $WWD_margin;
        font-size: $font-size-title;
        span {
            color: $primary;
        }
    }

    
}
