@import '../../../styles/variables';

$WWD_margin: 10%;

.whatwedo {
    .row{
        --bs-gutter-x: none !important;
    }
    .whatwedo_title {
        margin-left: $WWD_margin;
        font-size: $font-size-title;
        span {
            color: $primary;
        }
    }

    .second_parts {
        background-color: $secondary;
        padding:30px;

        h2 {
            font-size: $font-size-title;
            span {
                color: $light;
            }
        }
        p{
            font-size: 1.5em;
        }
    }
}
